.contact {
  h1 {
    text-align: center;
  }


}

.contact-content {
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  margin-top: 50px;
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

}

.info {
  margin-top: 50px;
}

@media(max-width: 768px){
.contact-content {
  display: inline;
  text-align: center;



  img {
     margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.info {
  margin-top: 50px;
}

}
