.contact {
  h1 {
    text-align: center;
    font-weight: 400;
  }
}

.contact-content {
  margin-top: 40px;
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

}
.contact_info {
  margin-top: 40px;
  .city_name {
    font-weight: 600;
  }
  .link {
    color: #333333
  }

}

.contact-images {
  display: flex;
  img {
    border-radius: 50%;
    border: solid 3px $dark-gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.info {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
}

.no_fb {
  margin-top: 40px;
}
.button-container {
 display: flex;
 justify-content: center;
}

.messenger_btn {
  background-color: #0084FF;
  border: none; 
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-weight: 300;
  .messenger_icon {
    padding-left: 5px
  }
  &:hover {
    color: white
  }
  &:focus {
    color: white
  }
  &:focus-visible {
    color: white
  }
  
}

@media(max-width: 768px){
.contact-content {
  display: inline;
  text-align: center;



  img {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.info {
  margin-top: 50px;
}

}
