// Specific CSS for your home-page
.banner-cover {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-cover h1 {
  font-size: 50px;
  min-height: 70px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner-cover p {
  font-size: 25px;
  // font-weight: lighter;
  // color: rgb(255, 255, 255);
  // opacity: 0.6;
  margin-bottom: 30px;
}

.home-content {
  h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    min-height: 70px;
  }
}

.home-tag {
  margin-top: 30px;

  p {
    margin-right: 10px;
  }
}

.home-button {
  text-align: center;
  margin-bottom: 20px;
}

@media(max-width: 768px) {

}
