// Specific CSS for your home-page


.home-content {
  h2 {
    // text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
}

.home-tag {
  margin-top: 30px;

  p {
    margin-right: 10px;
  }
}

.home-button {
  text-align: center;
  margin-bottom: 20px;
}

#avaible-now {
  margin-top: 60px;
}



@media(max-width: 768px) {
  .banner-cover {
    h1 {
      font-size: 30px;
    }

    p {
    font-size: 15px;
    margin-bottom: 30px;
    }
  }

  .home-content {
  h2 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
  }
}

}
