
.banner {
  height: 500px;
  // min-height: 268px;
  // width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.margin {
  margin: 20px;
}

// left-part

.left-part {
  width: 50%;
}
.basic-info {
  margin-top: 20px;
}

.bigger-font-size {
  font-size: 30px;
}

.category-apartment {
  font-size: 20px;
}

.span-commodities {
  margin-right: 10px;
}

.carasteristics img, .details img {
  margin-right: 5px;
  margin-bottom: 5px;
}
.small-margin-bottom img {
  margin-bottom: 2px;
}

.description {
  border: solid 3px $dark-gray;
  padding: 10px;

}

// right-part

.right-part {
  margin-top: 12.5px;
}
.pink-background {
  background-color: $pink;
  color: white;
  padding: 5px 45px;
  box-shadow: 2px 3px 7px #C4C4C4;
  border-radius: 3px;
}

.flexbox-show {
  display: flex;
  justify-content: space-around;
}

.price {
  font-weight: 500;
  font-size: 30px;
}

.flexbox-show {
  margin-top: 20px;
}

.details h4 {
  font-weight: bolder;
}

.buttons {
  display: flex;
  justify-content: space-between;
  color: black;
}

.text-black {
  color: black;
}

.margin-right {
  margin-right: 10px;
}

.center {
  text-align: center;
}

/* Media Queries */

@media(max-width: 768px){
  .banner {
    height: 278px;
  }

  .buttons {
    margin-top: 20px;
    justify-content: space-around;
  }

  .carasteristics {
    width: 80%;
    margin: 10px 5px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pink-background {
    font-size: 15px;
    // font-weight: light;
    padding: 3px 18px;
  }

  .price {
     font-size: 15px;
    // font-weight: lighter;
  }

  .right-part-mobile {
    margin-top: 12.5px;
  }
}



