<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/2XLcoloc.chambresalouer/"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <p>©2018 Delauwe</p>
  </div>
</div>
