<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/delauwe.2xl/"><i class="fab fa-facebook"></i></a>
  </div>
  <p><%= link_to t('footer.terms'), terms_path,  id: "terms" %></p>
  <p>©2022 2XL - Delauwe</p>
</div>
