<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/delauwe.2xl/"><i class="fab fa-facebook"></i></a>
  </div>
  <p class= "footer-links"><%= link_to t('footer.terms'), terms_path,  id: "terms" %></p>
  <div class="footer-copyright">
    <p>©2018 2XL - Delauwe</p>
  </div>
</div>
