<div class="container">
  <div class="title">
    <h3><%= t('index.title.apartment') %></h3>
  </div>
  <div class="row margin-top">
    <% @apparts.each do |apartment| %>
        <%= render "shared/card", apartment: apartment %>
    <% end %>
  </div>
</div>
