<div class="container">
  <div class="contact">
    <h1>Contact</h1>
    <div class="contact-content">
      <%= image_tag "logo.bmp", height: 70 %>
      <div class="info">
        <p>Pour tous renseignements vous pouvez nous contacter via notre <span><a href="https://www.facebook.com/messages/t/314138672074369">Facebook Messenger</a>.</span></p>
      </div>
    </div>
  </div>
</div>
