<div class="container">
  <div class="contact">
    <h1>Contact</h1>
    <div class="contact-content">
      <%= image_tag "logo.bmp", height: 70 %>
      <div class="info">
        <p> Si vous n'avez pas de profil Facebook veuillez nous laisser un message au +33 9 77 19 77 99 ou un email à coloc@2xl.immo. Nous ne répondons qu’aux messages présentant votre profil et votre recherche de façons détaillées. </p>
      </div>
    </div>
  </div>
</div>
