<div class="container">
  <div class="contact">
    <h1>Contact</h1>
    <div class="contact-content">
      <div class="contact-images">
        <%= image_tag "etienne.jpg", height: 200 %>
        <%= image_tag "salim.jpg", height: 200 %>
      </div>
      <div class="info">
        <p> <%= t('contact.info') %></p>
      </div>
    </div>
  </div>
</div>
