<div class="container">
  <div class="contact">
    <h1>Contact</h1>
    <div class="contact-content">
      <%= image_tag "logo.bmp", height: 70 %>
      <div class="info">
        <p> <%= t('contact.info') %></p>
      </div>
    </div>
  </div>
</div>
