  <div class="banner-cover" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/elsaszymczak/image/upload/v1531924963/Alice%20D./terrasse.jpg');">
      <div class="banner-content">
        <h1>2XL - Colocation & appartement</h1>
        <p>Trouvez votre logement idéal</p>
        <a class="btn-border-pink">Découvrir</a>

      </div>
    </div>
