.btn-border-pink {
  border: 3px solid $pink;
  padding: 10px 16px;
  line-height: 1.3333333;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "EB Garamond";
  font-weight: 500;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $pink;
  }
}


.btn-border-gray {
  border: 3px solid #C4C4C4;
  padding: 10px 16px;
  line-height: 1.3333333;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "EB Garamond";
  font-weight: 500;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: #C4C4C4;
  }
}

.btn-color-white{
  color: white;
}

.btn-large {
  font-size: 23px;
}

.btn-small {
  font-size: 10px;
}

.btn-color-black {
  color: black;
}
