.btn {
  padding: 10px 16px;
  line-height: 1.3333333;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "EB Garamond";
  font-weight: 500;



  &:hover {
    text-decoration: none;
    color: white;
  }
}

.btn-home {
    box-shadow: 3px 3px 16px 1px #3C3C3C;
}

.btn-border-pink {
  border: 3px solid $pink;

 &:hover {
    background-color: $pink;
  }
}


.btn-border-gray {
  border: 3px solid $dark-gray;

  &:hover {
    background-color: $dark-gray;
  }
}

.btn-color-white{
  color: white;
}

.btn-large {
  font-size: 23px;
}

.btn-small {
  font-size: 10px;
}

.btn-medium {
  font-size: 15px;
}

.btn-color-black {
  color: black;
}

.btn-long {
  padding: 10px 26px;
}
