.card {
  height: 429px;
  color: black;
  margin-bottom: 30px;
  position: relative ;
  transition: all 0.3s ease;
  overflow: visible;
  // box-shadow: 0px 0px 15px  $pink;
  // border: solid 3px $dark-gray;


   &:hover {
    box-shadow: 0px 0px 30px $dark-gray;
    text-decoration: none;
  }

  &:hover .card-category {
    opacity: 1;
  }

  h5 {
    color: $kaki;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.border-gray {
  border: solid 5px $dark-gray;
}

.border-green {
  border: solid 5px #B7CE63;
}

.card-images {
  position: relative;
  height: 60%;
  width: 100%;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border-top {
  border-top: none;
}

.card-image {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.card-content {
  height: 40%;

  p {
    margin-bottom: 1px;
  }
}

.card-content-top {
  padding: 10px;
  height: 70%
}

.card-content-bottom {
  padding: 10px;
  display: flex;
  height: 30%;
  justify-content: space-between;
  align-items: center;
}

.information {
  display:flex;
  justify-content:space-between;
  margin-bottom: 10px;
  align-items: center;

  h5 {
    margin: 0;
  }

}

.full-height {
  height: 100%;
}

.margin-top {
  margin-top: 30px;
}

.bold {
  font-weight: bolder;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.smaller-font-size {
  font-size: 15px;
}

.carousel-indicators-better {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.glyphicon {
  color: white;
}

.carousel-control {
  opacity: 1;
}

.title {
  margin-bottom: 35px;


  h3 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
}

.card-price-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-category-tag {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* availability */



.availability-red {
  // background-color: #EBACAC;
  // background-color: #577590
  background-color: #FFE5D9
}

.availability-green {
  // background-color: #B2F1A2;
  background-color: #B7CE63
}

#available {
  color: white;
  font-size: 20px;
  padding-left: 10px;
}

.circle-full {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
  margin: 0 20px;
  z-index: 1;
}

.fa-arrow-right {
  font-size: 30px;
  color: white;
  transition: all .2s ease-in-out;
  margin-right: 10px;

   &:hover {
    transform: scale(1.1);
  }
}




@media (max-width: 768px) {

  .title {
  margin-bottom: 35px;

    h3 {
      font-size: 38px;
      font-weight: bold;
    }
  }

}

