.footer {
  background: #DFE1D7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  margin-top: 100px;
  color: rgba(0,0,0,0.3);

  p {
    opacity: 1;
    margin: 0;
  }

  a {
    color: rgba(0, 0, 0, 0.3)
  }

}
.footer-links {
  opacity: 1;
  display: flex;
  align-items: center;

  a {
    color: $dark-gray;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;

    &:hover {
      color: grey;
    }
  }
}

.footer .fa-heart {
  color: #D23333;
  opacity: 1;
}

#terms {
  font-size: 20px;
}

@media (max-width: 768px) {

  .footer {
    padding: 13px;
    font-size: 10px;
    }

    #terms {
      font-size: 10px;
    }
  }
