/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $pink;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: bold;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.flags-smartphone {
  display: flex;
  align-items: center;
  padding-left: 15px;

}

.active-smartphone {
  img {
    opacity: 0.5;
  }
}

/* flags */

.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25),0 0 1px transparent !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),0 0 1px transparent !important;
  padding: 0px;
  margin: 0px;


  li {
    margin: 0;

    .flag {
      display: flex;
      align-items: center;
      padding: 10px;

      img {
        padding-right: 10px;
      }

      &:hover {
        background-color: #f5f5f5;
        color: black;
      }
    }
  }

  p {
    margin: 0;
    font-weight: lighter;
    font-size: 14px;
  }

  .active a {
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    background-color: #f5f5f5;
    opacity: 1;
  }
}


#flag-container {
  margin-right: 30px;
  color: #d6d6d6;
  border-radius: 3px;
  box-shadow: 0 0px 2px #d8d8d8;
  margin: 0 20px;
  cursor: pointer;

}

.flag-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;


  img {
    margin-right: 10px;
  }
}

.opinion {
  box-shadow: 0 0px 2px #d8d8d8;
  margin-left: 20px;
   margin-right: 20px;
  padding: 3px 10px;
  border-radius: 3px;
}

.like {
  padding-right: 22px;
}



