.tag-kaki {
    background-color: #8D9564;
    padding: 5px 16px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    box-shadow: 0px 3px 15px 0px #969196;
}

.tag-gray {
    background-color: $dark-gray;
    padding: 5px 16px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    box-shadow: 0px 3px 15px 0px #969196;
}

.tag-pink {
    background-color: $pink;
    padding: 5px 16px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    box-shadow: 0px 3px 15px 0px #969196;
}
