<div class="container">
  <div class="title">
    <h3><%= t('index.title.flatshare') %></h3>
  </div>
  <div class="row margin-top">
    <% @apartments.order(availability: :asc).each do |apartment| %>
      <% if apartment.category == "flatshare" %>
        <%= render "shared/card", apartment: apartment %>
      <%end%>
    <% end %>
  </div>
  <div class="title">
    <h3><%= t('index.title.apartment') %></h3>
  </div>
  <div class="row margin-top">
    <% @apartments.each do |apartment| %>
      <% if apartment.category == "apartment" %>
        <%= render "shared/card", apartment: apartment %>
      <% end %>
    <% end %>
  </div>
</div>





